/* GLOBAL RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.primary-section {
  margin-bottom: 7.2rem;
}
@media screen and (max-width: 510px) {
  .primary-section {
    margin-bottom: 4.8rem;
  }
}
.primary-section__name-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.primary-section__name-wrapper *:first-child {
  margin-right: 0.8rem;
}
.primary-section__name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 100%;
  color: var(--c-on-surface-secondary);
  display: inline;
  margin-right: 0.6rem;
}
@media screen and (max-width: 510px) {
  .primary-section__name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 100%;
  }
}
.primary-section__work-status {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 100%;
  color: var(--c-accent, #5ACDFA);
}
@media screen and (max-width: 510px) {
  .primary-section__work-status {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
  }
}
.primary-section__statement {
  font-size: 4rem;
  font-weight: 500;
  line-height: 145%;
  display: inline-block;
}
@media screen and (max-width: 510px) {
  .primary-section__statement {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 145%;
  }
}

.action-link {
  position: relative;
  min-height: 13.7rem;
  min-width: 24rem;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--c-surface-primary);
  overflow: hidden;
  transition: background-color 150ms ease-in;
}
@media screen and (max-width: 611px) {
  .action-link {
    min-height: 8rem;
  }
}
.action-link__button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.6rem;
  border: none;
  border-radius: 0;
  text-decoration: none;
  background-color: var(--c-surface-secondary);
  transition: background-color 150ms ease-in, transform 150ms ease-in-out;
}
@media screen and (max-width: 611px) {
  .action-link__button {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
.action-link:hover {
  cursor: pointer;
  background-color: var(--c-accent, #5ACDFA);
}
.action-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0px 0px 0px 1px var(--c-outline);
  border-radius: 0.8rem;
}
.action-link:hover > .action-link__button {
  transform: translateY(-4rem);
  border-radius: 0.8rem;
  background-color: var(--c-surface-tertiary);
  cursor: pointer;
}
.action-link:active > .action-link__button {
  transform: translateY(-5.5rem);
}
.action-link__top-icon {
  margin-bottom: 1.6rem;
  fill: var(--c-accent, #5ACDFA);
}
.action-link__top-icon.arrow-icon {
  width: 1.1rem;
  height: 1.1rem;
  transform: rotate(-45deg);
}
.action-link__top-icon.copy-icon {
  width: 1.4rem;
  height: 1.4rem;
}
.action-link__under-icon {
  position: absolute;
  bottom: 1.4rem;
  left: 49%;
  fill: var(--c-on-accent);
  opacity: 0;
  transition: all 150ms ease-in-out;
}
.action-link__under-icon.arrow-icon {
  width: 1.1rem;
  height: 1.1rem;
  transform: translateY(250%) rotate(-45deg);
}
.action-link__under-icon.copy-icon {
  width: 1.4rem;
  height: 1.4rem;
  transform: translateY(250%);
}
.action-link:hover .action-link__under-icon.arrow-icon {
  transform: translateY(0) rotate(-45deg);
  opacity: 100%;
}
.action-link:hover .action-link__under-icon.copy-icon {
  transform: translateY(0);
  opacity: 100%;
}
.action-link:active .action-link__under-icon.arrow-icon {
  transform: translateY(-120%) rotate(-45deg);
}
.action-link:active .action-link__under-icon.copy-icon {
  transform: translateY(-120%);
}
.action-link__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.action-link__primary-content {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 145%;
  margin-bottom: 0.8rem;
  color: var(--c-on-surface-primary);
  text-align: left;
}
.action-link__secondary-content {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
  color: var(--c-on-surface-secondary);
  text-align: left;
  transition: color 150ms ease-in;
}
.action-link:hover .action-link__secondary-content {
  color: var(--c-accent, #5ACDFA);
}
.action-link__secondary-content[data-highlight] {
  color: var(--c-accent, #5ACDFA);
}

.secondary-section {
  margin-bottom: 2.4rem;
}
.secondary-section__title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}
.secondary-section__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 100%;
  margin-right: 0.4rem;
}

.actions-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24.2rem, 1fr));
  gap: 1.6rem;
  list-style: none;
  flex-wrap: wrap;
}
.footer {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 510px) {
  .footer {
    justify-content: space-between;
  }
}
.footer__language-selector {
  position: relative;
  margin-right: 0.8rem;
}
.footer__language-switcher {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
  padding: 0.6rem 0.8rem;
  background-color: transparent;
  border-radius: 0.8rem;
  color: var(--c-accent, #5ACDFA);
  cursor: pointer;
  transition: all 100ms ease-in;
  list-style: none;
}
.footer__language-switcher:hover {
  background-color: var(--c-over-surface-secondary);
}
.footer__language-switcher-icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.6rem;
  fill: var(--c-accent, #5ACDFA);
}
.footer__language-selector[open] > summary > .footer__language-switcher-icon {
  transform: rotate(180deg);
}
.footer__languages-list[data-open] {
  position: absolute;
  top: -400%;
  padding: 0.8rem;
  min-width: 18.1rem;
  background-color: var(--c-surface-tertiary);
  border-radius: 0.8rem;
  list-style: none;
  animation-name: fadeIn;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}
.footer__language-wrapper {
  padding: 0.6rem 0.8rem;
  background-color: var(--c-surface-tertiary);
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in;
}
.footer__language-wrapper:hover {
  background-color: var(--c-over-surface-secondary);
  cursor: pointer;
}
.footer__language {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 145%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--c-on-surface-primary);
}
.footer__language-check-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--c-accent, #5ACDFA);
}
.footer__language-detail {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 100%;
  display: inline-block;
  margin-top: 0.4rem;
  color: var(--c-on-surface-secondary);
}
.footer__copyright {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 100%;
  color: var(--c-on-surface-secondary);
}

:root {
  font-size: 62.5%;
  --c-on-accent: #000000;
  --c-positive: #3CE18E;
  --c-surface-primary: #000000;
  --c-surface-secondary: #0A0A0A;
  --c-surface-tertiary: #1C1D1E;
  --c-over-surface-primary: rgba(255, 255, 255, 0.04);
  --c-over-surface-secondary: rgba(255, 255, 255, 0.08);
  --c-on-surface-primary: #FFFFFF;
  --c-on-surface-secondary: #8C9095;
  --c-modal-overlay: rgba(0, 0, 0, 0.7);
  --c-outline: #292929;
}

body {
  background-color: var(--c-surface-primary);
  color: var(--c-on-surface-primary);
  font-family: "Inter", sans-serif;
}

.body-wrapper {
  min-height: 100vh;
  max-width: 112.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: min(14vw, 14vh) 5.6rem 4.8rem 5.6rem;
  margin: 0 auto;
}
@media screen and (max-width: 510px) {
  .body-wrapper {
    padding: min(12vw, 12vh) 3.2rem 3.2rem 3.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
