@use 'typography' as text;
@use 'breakpoints' as brkp;
@use 'colors';

.primary-section {
    margin-bottom: 7.2rem;

    @include brkp.break-point(510) {
        margin-bottom: 4.8rem;
    }

    &__name-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;
    
        *:first-child {
            margin-right: 0.8rem;
        }
    }
    
    &__name {
        @include text.t-base("L", "medium", "one-liner");
        color: var(--c-on-surface-secondary);
        display: inline;
        margin-right: 0.6rem;

        @include brkp.break-point(510) {
            @include text.t-base("S", "medium", "one-liner");
        }
    }

    &__work-status {
        @include text.t-base("M", "regular", "one-liner");
        color: var(--c-accent, colors.$accentDefault);

        @include brkp.break-point(510) {
            @include text.t-base("S", "regular", "one-liner");
        }
    }
    
    &__statement {
        @include text.t-display("L");
        display: inline-block;
        
        @include brkp.break-point(510) {
            @include text.t-display("S");
        }
    }
}