@import 'typography', 'breakpoints', 'colors';

.primary-section {
    margin-bottom: 7.2rem;

    &__name-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;
    
        *:first-child {
            margin-right: 0.8rem;
        }
    }
    
    &__name {
        @include t-base("L", "medium", "one-liner");
        color: var(--c-on-surface-secondary);
        display: inline;
        margin-right: 0.6rem;

        @include break-point(510) {
            @include t-base("S", "medium", "one-liner");
        }
    }

    &__work-status {
        @include t-base("M", "regular", "one-liner");
        color: var(--c-accent, $accentDefault);

        @include break-point(510) {
            @include t-base("S", "regular", "one-liner");
        }
    }
    
    &__statement {
        @include t-display("L");
        display: inline-block;
        
        @include break-point(510) {
            @include t-display("S");
        }
    }
}