@forward 'action-items';
@use 'typography' as text;
@use 'breakpoints' as brkp;

.secondary-section {
    margin-bottom: 2.4rem;

    &__title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;
    }
    
    &__title {
        @include text.t-base("M", "medium", "one-liner");
        margin-right: 0.4rem;
    }
}

.actions-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24.2rem, 1fr));
    gap: 1.6rem;
    list-style: none;
    flex-wrap: wrap;

    @include brkp.break-point(510) {
    }
}