@import 'typography', 'breakpoints', 'colors';

.secondary-section {
    margin-bottom: 2.4rem;

    &__title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;
    }
    
    &__title {
        @include t-base("M", "medium", "one-liner");
        margin-right: 0.4rem;
    }
}

.actions-list {
    display: flex;
    gap: 1.6rem;
    list-style: none;
    flex-wrap: wrap;
}

@import 'action-items';