@use 'reset';
@use 'typography' as text;
@use 'colors';
@use 'breakpoints' as brkp;

:root {
    // SETTING UP FONT SIZE
    font-size: 62.5%; 

    // SETTING UP COLOR CUSTOM PROPERTIES
    @each $color, $value in colors.$colors {
        --c-#{$color}: #{$value};
    }
}

body {
    background-color: var(--c-surface-primary);
    color: var(--c-on-surface-primary);
    font-family: text.$font-face;
}

.body-wrapper {
    height: 100vh;
    max-width: 112.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: Min(12vw, 12vh) 5.6rem 4.8rem 5.6rem;
    margin: 0 auto;
    overflow: hidden;

    @include brkp.break-point(510) {
        justify-content: flex-start;
        padding: Min(12vw, 12vh) 3.2rem 4.8rem 3.2rem;
    }
}

.content {
    @include brkp.break-point(510) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@import 'primary-section', 'secondary-section', 'footer';