@use 'reset';
@use 'typography' as text;
@use 'colors';
@use 'breakpoints' as brkp;
@use 'primary-section';
@use 'secondary-section';
@use 'footer';

:root {
    // SETTING UP FONT SIZE
    font-size: 62.5%; 

    // SETTING UP COLOR CUSTOM PROPERTIES
    @each $color, $value in colors.$colors {
        --c-#{$color}: #{$value};
    }
}

body {
    background-color: var(--c-surface-primary);
    color: var(--c-on-surface-primary);
    font-family: text.$font-face;
}

.body-wrapper {
    min-height: 100vh;
    max-width: 112.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: Min(14vw, 14vh) 5.6rem 4.8rem 5.6rem;
    margin: 0 auto;

    @include brkp.break-point(510) {
        padding: Min(12vw, 12vh) 3.2rem 3.2rem 3.2rem;
    }
}